@font-face {
  font-family: "Noway";
  src: url(fonts/noway-regular.woff2) format("woff2"), url(fonts/noway-regular.woff) format("woff"), url(fonts/noway-regular.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Noway";
  src: url(fonts/noway-light.woff2) format("woff2"), url(fonts/noway-light.woff) format("woff"), url(fonts/noway-light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Noway";
  src: url(fonts/noway-medium.woff2) format("woff2"), url(fonts/noway-medium.woff) format("woff"), url(fonts/noway-medium.ttf) format("truetype");
  font-weight: 700;
}

@keyframes twinkle {
    0% {
      opacity: 1;
  /*     transform: scale(0.5); */
      animation-timing-function: ease-in;
    } 
    20% {
      opacity: 0;
  /*     transform: scale(0.5); */
      animation-timing-function: ease-in;
    } 
    50% {
      opacity: 1;
  /*     transform: scale(0.5); */
      animation-timing-function: ease-in;
    } 
    85% {
      opacity: .5;
  /*     transform: scale(2.8); */
      animation-timing-function: linear;
    }
    100% {
      opacity: 1;
  /*     transform: scale(3.5); */
    }
}


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Noway', sans-serif;
  columns: #444444;
}

html {
  position: relative;
}

body {
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Noway', sans-serif;
  letter-spacing: 0.1rem;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: fixed, linear-gradient(to bottom, black 20%, #190a2b 100%);
  z-index: -2;
  background-blend-mode: color-burn;
  height: 100%;
  width: 100vw;
}

.main {
  color: #eee;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.main .footer {
  margin-top: 120px;
  padding-bottom: 20px;
  background: rgba(152, 148, 148, .5);
  width: 100vw;
  z-index: 999;
}

.main .nav-button {
  height: 1.5vw;
  width: 7vw;
  margin-left: 2vw;
  background-color: rgba(37, 37, 37, .1);
  border: .01vw solid transparent;
  color: white;
  padding: .5vw 1vw;
  text-align: center;
  font-family: 'Noway', sans-serif;
  font-size: 1.1em;
  z-index: 999999;
  transition: all ease-in-out .25s;
}

.main .nav-button:hover {
  background: white;
  color: black;
}

.main .home-container {
  width: 60vw;
  margin-top: 30vh;
  margin-left: 20vw;
  height: 60vh;
  text-align: center;
}

.main .home-container .subtitle {
  font-size: 1.3em;
}

a .page-title {
  color: white;
}

.home-container > h2 {
  color: white;
  letter-spacing: .1rem;
  z-index: 999;
  margin: 0;
  font-weight: normal;
}

.main .button:hover {
  background-color: #fff;
  color: #4a97d2;
}

.photo-box {
  width: 45vw;
  margin-left: 5vw;
  float: left;
}

.left {
  transform: scale(.5) translate(-3vw, 0vw);
}

.right {
  transform: scale(.5) translate(42vw, -20vw);
}

.member-photo {
  height: 25vw;
  width: 25vw;
  border-radius: 25vw;
}

.about-box {
  float: right;
  position: sticky;
  margin-top: 50px;
  top: 10vh;
  margin-right: 10vw;
}

.about-box .pre-title {
  font-size: 1.5em;
}

.about-box .title {
  font-size: 3em;
}

.mem-desc-left {
  font-size: 1em;
  margin-left: 2.5vw;
  text-align: center;
  margin-top: -5.5vw;
  width: 17vw;
}

.mem-desc-right {
  font-size: 1em;
  text-align: center;
  width: 17vw;
  transform: translate(25vw, -15.5vw);
}

.underline {
  width: 5vw;
  margin-top: 2vw;
  margin-bottom: 1.8vw;
  border-bottom: .2vw solid white;
}

.work-section {
  margin-top: 250px;
  margin-left: 20vw;
  width: 60vw;
  background: rgba(37, 37, 37, 0);
  text-align: center;
}

.work-section > * {
  margin: 0 50px 0 0;
}

.work-section > *:last-child {
  margin: 0;
}

.work-section h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0;
}

.work-section img {
  max-height: 4em;
  margin-bottom: 20px;
}

.specialty {
  margin-top: 80px;
  margin-left: 20vw;
  width: 60vw;
  background: rgba(37, 37, 37, 0.5);
  clear: both;
}

.work-subtitles {
  font-size: 2vw;
}

.work {
  font-size: 1.5em;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-bottom: 0;
}

.paragraph {
  padding: 2vw;
  padding-top: 0vw;
}

.team-spacer {
  height: 80vw;
  margin-top: 400px;
  margin-left: 5vw;
  width: 46vw;
  background: border-box;
  z-index: -10;
}

.about-words {
  width: 30vw;
  font-size: 1em;
  padding-top: 1vw;
}

.footer-logo-wrapper {
  height: 40px;
  text-align: center;
}

.footer-logo {
  height: 90px;
  background: #190a2b;
  border-radius: 100%;
  margin-top: -50px;
  border: 6px solid #190a2b;
  box-sizing: border-box;
}

.footer-link-container {
  margin-top: 20px;
  text-align: center;
}

.about-git-button {
  font-size: 1vw;
}

.footer-button .fab, .footer-button .fas {
  color: white;
  font-size: 30px;
  transition: all ease-in-out .25s;
}

.footer-button {
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  font-weight: lighter;
  transition: all ease-in-out .25s;
}

.footer-button:hover {
  background: #190a2b;
}

.footer-button i {
  width: 30px;
  height: 30px;
  text-align: center;
}

.social-buttons {
  margin-left: 33vw;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}

.love {
  margin-top: 5px;
  text-align: center;
}

.say-hello {
  width: 100vw;
  font-size: 1.5em;
  text-align: center;
  margin-top: 15px;
}

.job-role {
  font-size: .8em;
  text-align: center;
  text-align: center;
}

.job-role-right>span, .job-role>span {
  display: block;
  margin-top: 5px;
}

.job-role-right>span i, .job-role>span i {
  width: 1.5em;
  font-size: 1.5em;
  color: #909090;
}

.job-role-right {
  font-size: .8em;
  text-align: center;
}

.job-role-right, .job-role {
  margin: 0;
}

.navbar {
  z-index: 9999;
  width: 100vw;
  top: 0;
  left: 0;
  height: 10vh;
  background: rgba(0, 0, 0, .72);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand {
  margin-left: 30px;
  display: flex;
}

.navbar .link-container {
  margin-right: 30px;
}

.navbar .brand .brand-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.navbar .brand .brand-name {
  margin: 0;
  margin-left: .4em;
  font-size: 2em;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.line {
  width: 100%;
  margin: 15px 0 15px 0;
  border-bottom: .1em solid white;
}

.work-divider {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.work-divider > *:last-child {
  margin-bottom: 0;
}

.heart {
  color: #ff1111;
  font-size: 1em;
}

.shift {
  margin-top: -20vw;
}

.stars {
  z-index: -1;
  background-image:     radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
  radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0)),
  radial-gradient(2px 2px at 180px 80px, #ddd, rgba(0,0,0,0));
  animation: twinkle 10s infinite;
  /* background-repeat: repeat; */
  opacity: 1;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 200%;
  display: block;
  background-size: 200px 200px;
}

.galaxies {
    z-index: -1;
    background-image:     
    /*galaxies*/
    radial-gradient(4px 16px at 50px 100px, #ffcccc, rgba(0,0,0,0)),
    radial-gradient(9px 3px at 300px 30px, #ddd, rgba(0,0,0,0)),
    radial-gradient(9px 3px at 350px 40px, #ffcc66, rgba(0,0,0,0)),
    radial-gradient(5px 5px at 256px 150px, #ffcc66, rgba(0,0,0,0)),
    radial-gradient(5px 5px at 100px 250px, #99ccff, rgba(0,0,0,0)),
    radial-gradient(16px 4px at 370px 450px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 330px 360px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 280px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 1px at 220px 150px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 179px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 55px 127px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 1px at 360px 120px, #ddd, rgba(0,0,0,0)),
     radial-gradient(2px 2px at 130px 379px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 1px at 55px 127px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 370px 160px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 420px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 1px at 440px 250px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    opacity: 1;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 500px 500px;
    background-position: left top;
}
.galaxies:nth-child(1){
  transform: rotate(-30deg) translate(200px, 200px);
}
.galaxies:nth-child(2){
  transform: rotate(35deg) scale(1.2);
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  transform: scale(2) translate(10px, 60px);
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  transform: rotate(60);
  animation-delay: 3s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  transform: scale(2) rotate(30);
  animation-delay: 7s;
}


.meet-team {
  width: 100%;
  margin-top: 20px;

  /* Clearfix */
  content: "";
  clear: both;
  display: table;
}

input[type="text"], input[type="email"], textarea, input[type="submit"], input[type="button"] {
  box-sizing: border-box;
  
  border-style: solid;
  border-color: rgba(255, 255, 255, .5);
  border-width: 1px;
  border-radius: 3px;

  color: #fff;
  font-size: 0.9em;
  font-family: 'Noway', sans-serif;

  padding: 7px;

  background-color: rgba(255, 255, 255, .2);
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
  color: #aaa;
  opacity: 0.8;
}

input[type="submit"], input[type="button"] {
  padding: 7px 15px;
  font-size: 1em;  
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover, input[type="button"]:hover {
  color: #000;
  background-color: #fff;
}

input[type="submit"]:disabled, input[type="button"]:disabled {
  color: #777;
  background-color: #aaa;
  border-color: #aaa;
  cursor: not-allowed;
}

.contact-us {
  max-width: 800px;
  margin: 200px auto 0 auto;
}

.contact-us-container {
  margin: 0 30px 0 30px;
}

.contact-us-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.contact-us-same-line-group {
  display: flex;
  margin-bottom: 20px;
}

.contact-us-group {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.contact-us-group:last-child {
  margin-bottom: 0;
}

.contact-us-same-line-group>* {
  margin-right: 20px;
  margin-bottom: 0;
  flex-basis: 1;
  flex-grow: 1;
}

.contact-us-same-line-group>*:last-child {
  margin-right: 0;
}

.contact-us label {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}

.contact-us-input {
  width: 100%;
}

.contact-us-textarea {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
}

#contact-us-submit {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
}

#contact-us-loader {
  display: inline-block;
  vertical-align: middle;
}

#contact-us-response {
  display: inline-block;
}

#contact-us-response.success {
  color: rgb(133, 224, 163);
}

#contact-us-response.failure {
  color: #d46a6a;
}

#contact-us-response.failure a {
  color: #d46a6a;
}

.hidden {
  display: none !important;
}

/* LOADER CSS */

.loader {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}

.loader div {
  position: absolute;
  border: 2px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader {
  0% {
    top: 14px;
    left: 14px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 29px;
    height: 29px;
    opacity: 0;
  }
}

.top-banner {
  color: #ffffff;
  text-align: center;
  display: none;
}

.top-banner.urgent {
  background-color: #d82323;
}

.top-banner a {
  color: #ffffff;
  text-decoration: none;
}

.top-banner .text {
  padding: 10px 0;  
}

.bottom-banner {
  z-index: 9999;
  bottom: 0;
  left: 0;
  position: sticky;
  color: #fff;
}

.bottom-banner-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px;
  box-sizing: border-box;  
}

.bottom-banner.info {
  background: linear-gradient(90deg, #00b1eb, #0082b5, #00567a);
  /* background-color: #4a97d2; */
}

.bottom-banner-close {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 1.2em;
  color: #fff;

  cursor: pointer;
}

.bottom-banner-header {
  font-size: 1.2em;
}

.bottom-banner-explanation {
  margin-top: 5px;
  color: #cde7fc;
}

.bottom-banner-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.bottom-banner-group > * {
  margin-left: 2%;
  margin-top: 20px;
}

.bottom-banner-group > *:first-child {
  margin-left: 0;
}

.bottom-banner input[type="email"] {
  min-width: 57%;
  outline-color: #88c1ec;
  flex-grow: 1;
}

.bottom-banner input[type="email"]::placeholder {
  color: #ddd;
}

.bottom-banner input[type="submit"] {
  font-size: 0.9em;
  padding: 7px 20px;
}