@font-face {
  font-family: "Noway";
  src: url(fonts/noway-regular.woff2) format("woff2"), url(fonts/noway-regular.woff) format("woff"), url(fonts/noway-regular.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Noway";
  src: url(fonts/noway-light.woff2) format("woff2"), url(fonts/noway-light.woff) format("woff"), url(fonts/noway-light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Noway";
  src: url(fonts/noway-medium.woff2) format("woff2"), url(fonts/noway-medium.woff) format("woff"), url(fonts/noway-medium.ttf) format("truetype");
  font-weight: 700;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Noway', sans-serif;
  columns: #444444;
}

html {
  position: relative;
}

body {
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Noway', sans-serif;
  letter-spacing: 0.1rem;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: fixed, linear-gradient(to bottom, black 20%, #190a2b 100%);
  z-index: -2;
  background-blend-mode: color-burn;
  height: 100%;
  width: 100vw;
}

.main {
  color: #eee;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.main .footer {
  margin-top: 150px;
  padding-bottom: 20px;
  background: rgba(152, 148, 148, .5);
  width: 100vw;
  z-index: 999;
}

.main .nav-button {
  height: 1.5vw;
  width: 7vw;
  margin-left: 2vw;
  background-color: rgba(37, 37, 37, .1);
  border: .01vw solid transparent;
  color: white;
  padding: .5vw 1vw;
  text-align: center;
  font-family: 'Noway', sans-serif;
  font-size: 1.1em;
  z-index: 999999;
  transition: all ease-in-out .25s;
}

.main .nav-button:hover {
  background: white;
  color: black;
}

#projects {
  margin-left: 33vw;
}

#contact {
  margin-left: 46vw;
}

.main .home-container {
  width: 60vw;
  margin-top: 40vh;
  margin-left: 20vw;
  height: 60vh;
  text-align: center;
}

.main .home-container .subtitle {
  font-size: 1.3em;
}

a .page-title {
  color: white;
}

.home-container > h2 {
  color: white;
  letter-spacing: .1rem;
  z-index: 999;
  margin: 0;
  font-weight: normal;
}

.main .button:hover {
  background-color: #fff;
  color: #4a97d2;
}

.photo-box {
  width: 45vw;
  margin-left: 5vw;
  float: left;
}

.left {
  transform: scale(.5) translate(-3vw, 0vw);
}

.right {
  transform: scale(.5) translate(42vw, -20vw);
}

.member-photo {
  height: 25vw;
  width: 25vw;
  border-radius: 25vw;
}

.about-box {
  float: right;
  position: sticky;
  margin-top: 50px;
  top: 15vw;
  margin-right: 10vw;
}

.about-box .pre-title {
  font-size: 1.5em;
}

.about-box .title {
  font-size: 3em;
}

.mem-desc-left {
  font-size: 1em;
  margin-left: 2.5vw;
  text-align: center;
  margin-top: -5.5vw;
  width: 17vw;
}

.mem-desc-right {
  font-size: 1em;
  text-align: center;
  width: 17vw;
  transform: translate(25vw, -15.5vw);
}

.underline {
  width: 5vw;
  margin-top: 2vw;
  margin-bottom: 1.8vw;
  border-bottom: .2vw solid white;
}

.work-section {
  margin-top: 30px;
  margin-left: 20vw;
  width: 60vw;
  background: rgba(37, 37, 37, 0);
}

.work-section h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0;
}

.work-section img {
  max-height: 4em;
  margin-bottom: 20px;
}

.specialty {
  margin-top: 80px;
  margin-left: 20vw;
  width: 60vw;
  background: rgba(37, 37, 37, 0.5);
  clear: both;
}

.work-subtitles {
  font-size: 2vw;
}

.work {
  font-size: 1.5em;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-bottom: 0;
}

.paragraph {
  padding: 2vw;
  padding-top: 0vw;
}

.team-spacer {
  height: 80vw;
  margin-top: 400px;
  margin-left: 5vw;
  width: 46vw;
  background: border-box;
  z-index: -10;
}

.about-words {
  width: 30vw;
  font-size: 1em;
  padding-top: 1vw;
}

.footer-logo-wrapper {
  height: 40px;
  text-align: center;
}

.footer-logo {
  height: 90px;
  background: #190a2b;
  border-radius: 100%;
  margin-top: -50px;
  border: 6px solid #190a2b;
  box-sizing: border-box;
}

.footer-link-container {
  margin-top: 20px;
  text-align: center;
}

.about-git-button {
  font-size: 1vw;
}

.fa {
  font-size: 5vw;
}

.footer-button .fa {
  color: white;
  font-size: 30px;
  transition: all ease-in-out .25s;
}

.footer-button .fa:hover {
  color: #000000;
}

.footer-button {
  display: inline-block;
  margin: 0 10px 0 10px;
  text-align: center;
  border-radius: 5vw;
  color: #fff;
  font-weight: lighter;
}

.social-buttons {
  margin-left: 33vw;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}

.love {
  margin-top: 5px;
  text-align: center;
}

.say-hello {
  width: 100vw;
  font-size: 1.5em;
  text-align: center;
  margin-top: 15px;
}

.job-role {
  font-size: .8em;
  text-align: center;
  text-align: center;
}

.job-role-right>span, .job-role>span {
  display: block;
  margin-top: 5px;
}

.job-role-right>span i, .job-role>span i {
  width: 1.5em;
  font-size: 1.5em;
  color: #909090;
}

.job-role-right {
  font-size: .8em;
  text-align: center;
}

.job-role-right, .job-role {
  margin: 0;
}

.navbar {
  z-index: 9999;
  width: 100vw;
  padding: 20px 0;
  top: 0;
  left: 0;
  height: 40px;
  background: rgba(0, 0, 0, .72);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand {
  margin-left: 30px;
  display: flex;
}

.navbar .link-container {
  margin-right: 30px;
}

.navbar .brand .brand-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.navbar .brand .brand-name {
  margin: 0;
  margin-left: .4em;
  font-size: 2em;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.line {
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
  border-bottom: .1em solid white;
}

.clients, .sponsoring {
  width: 49.5%;
  margin: 0;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.heart {
  color: #ff1111;
  font-size: 1em;
}

.shift {
  margin-top: -20vw;
}

.stars {
  background: url(images/stars.png) repeat top center;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 200%;
  display: block;
}

.meet-team {
  width: 100%;
  margin-top: 100px;

  /* Clearfix */
  content: "";
  clear: both;
  display: table;
}