---
layout: default
---


<article>
    <a href="{{ page.url | absolute_url }}"><h2>{{ page.title }}</h2></a>
    <div class="small details">
        <time pubdate datetime="{{ page.date }}">Published {{ page.date | date: "%b %d, %Y" }}</time>
    </div>
    {{ content }}
</article>

<div id="disqus_thread"></div>

<script>
var disqus_config = function () {
this.page.url = '{{ page.url | absolute_url }}';
this.page.identifier = '{{ page.url | absolute_url }}'; 
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://bitcraft.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            