<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://use.fontawesome.com/3085819002.js"></script>
    <style type="text/css">
        .navbar-brand>img {
            width: 32px;
            height: 32px;
            filter: contrast(0) brightness(0) invert();
            margin-top: -4px;
            margin-right: 4px;
        }
        .container {
            margin-top: 16px;
        }
        article>a>h2 {
            text-decoration: none;
            color: #343a40;
        }
        article>.details {
            margin-bottom:10px;
        }
        .card-link > i {
            width: 20px;
        }
    </style>
    <title>{{ site.title }} | {{ page.title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{{ "images/bitcraft.png" | absolute_url }}"> {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/" | absolute_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/posts" | absolute_url }}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hello@bitcraft.io">Contact</a>
                </li>
            </ul>
        </div>
        <span class="navbar-text">
            {{ site.tagline }}
        </span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                {{ content }}
            </div>
            <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">We are a group of developers in the Atlanta, GA area specializing in development on technologies like Bitcoin, Ethereum, Tor and others.</p>
                            <a class="card-link" href="mailto:hello@bitcraft.io?subject=Website Inquiry&amp;body=Tell us about the goals of your project and how we could help.">
                                <i class="fa fa-envelope" aria-hidden="true"></i> Get in touch
                            </a><br/>
                            <a class="card-link" href="https://www.linkedin.com/company/11373741/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i> Connect on LinkedIn
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>